body{
    font: 15px/1.5 Ariel, Helvetica,sanz-serfi;
    padding:0;
    margin:0;
    background-color:#ffffff;
}

/* global */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;}

/* header */

header{
    background: black;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 50px;
    border-bottom: #E8491D 3px solid;
}
header a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}
header li, h1{
    display: inline;
    padding: 0 20px 0 20px;
    font-size: 30px;
    margin: auto;
}
header #branding{
    float: left;
    margin: 0;
    padding-top:15px;
}
header nav{
    float: right;
    margin: auto;
}
header .highlight, header .current a{
    color: #E8491D;
    font-weight: bold;
}
header a:hover{
    color: #ffffff;
    font-weight: bold;
}
/* newsletter
#newsletter{
    padding: 10px;
    color: #ffffff;
    background: #35424a;

}

#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    border-radius: 20px;

}
#container h2{
    text-size-adjust: 80px;
} */




/*main-col */

#main-col{
    float: left;
    width: 60%;
    height: 840px;
    padding:0px;
    margin-top:-40px;
    border-radius:15px;

    
}

/* services */

#services li{
    list-style: none;
    padding: 10px;
    border: #cccccc;
    border-radius: 15px;
    margin-bottom: 10px;
    background:black;
}

footer{
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color:black;
    border-top:#e8491d solid 3px;
    text-align: center;
}

/* media queries */
@media(max-width: 768px)

{#branding,header nav,header nav li,#newsletter nav,#newsletter form,#boxes .box,article#main-col,aside#sidebar{float:none;text-align:center;width:100%;}}


/* Link styles */
a:link {color: #e8491d;background-color:transparent;text-decoration:none;}
a:visited{color:#e8491d;background-color: transparent;text-decoration:none;}
a:hover {color:white;background-color:transparent;text-decoration:none;}
a:active{color: yellow;background-color: transparent;text-decoration:none;}
p{color:white;}
.service-title{color:white;font-size: x-large;}



/* article */
#img-flag{width:35%;height:85%;position: absolute;left:1050px;margin-top:20px;}